<a href="https://colab.research.google.com/github/MakC-Ukr/oracle-validation-starknet/blob/master/evaluations/Evaluating_Empiric_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# loaded_df = pd.read_csv("/content/drive/MyDrive/oracle-data-starknet/empiric-events.csv", index_col = 0)

In [ ]:
# df = loaded_df.drop('transaction_hash', axis = 1)

In [ ]:
# df = df[df['key'] == "btc/usd"]

In [ ]:
# df = df[df['timestamp'] >= 1659240910][df['timestamp'] <= 1660282030]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [ ]:
# df =df.sort_values("timestamp")

In [ ]:
# df.to_csv("/content/drive/MyDrive/oracle-data-starknet/empiric-BTC-31_to_12.csv")

**Now the data for Empiric that we have is also in the same date range as for Stork (July 31 - August 12)**

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/oracle-data-starknet/empiric-BTC-31_to_12.csv")

In [ ]:
df['source'].unique()

array(['cmt', 'gemini', 'ftx', 'cex', 'bitstamp',
       'cryptowatch-coinbase-pro', 'cryptowatch-kraken',
       'cryptowatch-binance', 'cryptowatch-bitfinex', 'coingecko',
       'coinbase'], dtype=object)

In [ ]:
def find_avg_time_diff(datafr):
  diff_ls = []
  diff = 0
  prev = 0
  for ind, row in datafr.iterrows():
    if prev == 0:
      prev = row['timestamp']
      continue
    curr_diff = (row['timestamp'] - prev)
    diff += curr_diff
    if curr_diff > 10:
      diff_ls.append(curr_diff)
    prev = row['timestamp']

  print("Median difference in seconds between two subsequent rows is :", pd.Series(diff_ls).median())
  return pd.Series(diff_ls)

Limiting myself only to the publisher being **Empiric** only

In [ ]:
df = df[df['publisher'] == "empiric"]

In [ ]:
sr = find_avg_time_diff(df)

Median difference in seconds between two subsequent rows is : 93.0

In [ ]:
time_diff = {}
time_diff["<1 mins"] = len(sr[sr < 60])
time_diff[">5 mins"] = len(sr[sr > 300])
time_diff[">6 mins"] = len(sr[sr > 360])
time_diff[">7 mins"] = len(sr[sr > 420])
time_diff[">8 mins"] = len(sr[sr > 480])
time_diff[">9 mins"] = len(sr[sr > 540])
time_diff[">10 mins"] = len(sr[sr > 600])
time_diff[">20 mins"] = len(sr[sr > 1200])
pd.Series(time_diff)

<1 mins     2208
>5 mins       26
>6 mins       26
>7 mins       20
>8 mins        4
>9 mins        0
>10 mins       0
>20 mins       0
dtype: int64

In [ ]:
sr[sr > 420]

323     498
508     482
817     457
838     441
1074    432
4812    474
4883    438
5908    443
6032    540
7013    451
7232    470
7617    439
7620    437
8041    442
8417    438
8598    441
9157    455
9166    498
9372    438
9436    440
dtype: int64

**The average time between two subsequent updates is 93 seconds. Much less than Stork. Moreover, for the current time range (12 days), there doesn't seem to be any outage for more than 10 mins (only singe )**

**The only thing that is unclear is why the timestamp difference sometimes is very minimal (like 2-3 seconds)**